:root {
  --nav-bg: rgba(255, 255, 255, 0.8);
  --nav-shadow:
    0px 5px 50px -5px rgba(0, 0, 0, 0.08), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

html.dark {
  --nav-bg: rgba(0, 0, 0, 0.8);
  --nav-shadow:
    0px 5px 50px -5px rgba(255, 255, 255, 0.1),
    0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  --tituloSecundario: #49de80;
}
