<section id="sobre-mi" class="mt-16 pt-20 textoContenedor">
  <h2 class="tituloSecundario">游뿺 Un poco sobre mi</h2>
  <div class="mt-10 font-semibold lg:px-20">
    <p>
      Soy estudiante de <span>Ingenier칤a en Sistemas Computacionales</span> con experiencia y habilidades en programaci칩n, dise침o y <span>desarrollo web</span>. He participado en diversos proyectos acad칠micos y personales, destacando tanto en <span>roles individuales como en equipo</span>. Me caracterizo por ser responsable, organizado y por enfocar mis esfuerzos en <span>generar ideas</span> que mejoren la eficiencia de los procesos y los <span>resultados</span>.
    </p>
    <div class="mt-5 grid md:grid-cols-6 items-center">
      <div class="md:col-span-4 space-y-5">
        <p>
          游꺔 Me interesa la programaci칩n, el desarrollo y dise침o web e investigar
          de los avances tecnol칩gicos.
        </p>
        <p>
          游꺔 Actualmente estoy aprendiendo Next Js porque interesa mucho continuar en el camino de desarrollador frontend.
        </p>
        <p>
          游꺔 Busco colaborar en proyectos de dise침o y desarrollo web, apoyando con
        mis habilidades y cumpliendo con los objetivos.
        </p>
      </div>
      <img class="w-full mt-5 md:mt-0 md:h-60 object-cover md:col-span-2 rounded-md" src="https://camo.githubusercontent.com/55732cffc4a4686914220a64910539db5c9334c324a189c70d4640742082fc3a/68747470733a2f2f692e70696e696d672e636f6d2f6f726967696e616c732f32632f32372f64312f32633237643131383630313639323363386562636131326439323436646331362e676966" alt="">
    </div>
  </div>
</section>
<style>
  .tituloSecundario {
      font-weight: bold;
      font-size: 2em;
      text-align: center;
      color: #49de80;
    }
  .textoContenedor:hover span {
  color: #6df49e; /* Color verde similar a text-green-400 */
  transition: color 0.4s ease; /* Animaci칩n suave del cambio de color */
}
</style>